.nav-item{
    margin-top:30px;
    margin-right: 0px;
    margin-left:0px;
}
.nav-ite{
    margin-top:30px;
    margin-right: 0px;
    margin-left:1450px;
}
.blog{
    color: #FFAA00;
}
.article{
    color: #FFAA00;
}