.navbar{
    background-color:#FFDC40 ;
    height: 70px;
}

.navbar-brand{
    color:white;
}

.blog{
    color:#FFDC40;
    margin-left: 500px;
    margin-top: -45px;
    
}

.blog1{
    color:#FFDC40;
    position:fixed;
    margin-left: 700px;
    margin-top: 5px;
    
}


.article{
    color:white;
    display: flex;
    text-decoration: none; 
    margin-right: 170px;
    
}

.main-1{
    background-color:#4575D4 ;
    height: 100px;
}
.main{
    background-color: #4575D4;
}

.main-img1{
    margin-top: -600px;
    margin-left: 50px;
}

.bb{
    margin-top: -70px;
    margin-left: 800px;
    color: white;
    text-decoration: none;
}

.m-n{
    margin-left: 200px;
    margin-right: 200px;
}

.main-2{
    background-color:#4575D4;
    height: 90px;
}

.footer{
    background-color: #FF9340;
    height: 70px;
}

.footer-img{
    margin-left: 1800px;
}
.copyright{
    color: white;
}

.footer-img1{
    margin-top: -60px;
    margin-left: 1735px;
}

.icon{
    margin-top: -17px;
}

a{
    text-decoration: none;
    color: white;
}
