.btn-group{
    margin-right: 700px;
}

.nav-item{
    margin-top:30px;
    margin-right: 0px;
    margin-left:0px;
}
.nav-ite{
    margin-top:30px;
    margin-right: 0px;
    margin-left:1450px;
}
.blog{
    color:#2567FF;
    
}
.article{
    color:white;
    display: flex;
    text-decoration: none; 
    margin-right: 700px;
}
