.navbar{
    background-color: #FFDC40;
    height: 70px;
}

.navbar-brand{
    color:white;
}

.blog{
    color:#FFDC40;
    margin-left: 500px;
    margin-top: -45px;
    
}

.blog1{
    color:#FFDC40;
    position:fixed;
    margin-left: 700px;
    margin-top: 5px;
    
}

.main-1{
    background-color: #4575D4;
    height: 25px;
}

.bar{
    position: fixed;
    padding-bottom: 10px;
    padding-left: 555px;
    text-decoration:none;
    color: white;
}
.main{
    background-color: #4575D4;
    height: 950px;
}

.main-img1{
    margin-top: -600px;
    margin-left: 50px;
}

.main-img2{
    margin-top: -500px;
    margin-left: 1550px;
}

.m-n{
    margin-left: 400px;
    margin-right: 400px;
}

.main-2{
    background-color:#4575D4;
    height: 45px;
}

.footer{
    background-color: #FF9340;
}

.inp{
    margin-top:px;
    margin-left: 200px;
    color: white;
}

.footer-img{
    margin-left: 1800px;
    margin-top: -10px;
}
.copyright{
    color: white;
}

.footer-img1{
    margin-top: -60px;
    margin-left: 1740px;
}

.icon{
    margin-top: -10px;
}
.imf{
    margin-left: 400px;
    margin-top: 30px;
}